
html{
  scroll-behavior:smooth;
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --primary:rgba(140,0, 255, 0.996);
  --font:'Lexend Deca', sans-serif;
  --secondary:rgb(0, 0, 0);
  
}

::selection{
  color:var(--primary);
 background-color:rgb(72, 72, 72) ; 
}
body{
  background-color:var(--secondary);
}
.header{
  padding:5px 5px 5px;
  font-size: 1em;
  color:var(--primary);
  display:flex;
  align-items: center;
  width:100vw;
  position: fixed;
  justify-content: space-between;
  background-color: var(--secondary);
  font-family: var(--font);
 margin-top:0px;
  animation:shadow 4s  infinite;
}
@keyframes shadow {
  50%{

  box-shadow: 0px 0px 50px var(--primary);
  }
}

.title{
  margin:10px 5px 5px 10px;
  font-size:2.5em;
}
.title span{
  color:white;
}

li{
  transition: .4s;

  font-weight: bold;
  padding:5px;
  display:inline-block;
  Margin:5px 8px 5px 8px;

}
 

a{
  text-decoration:none;
  font-size: 1.2em;
  color:white;
}

a:hover{
color:var(--primary);
transition:.4s;

}

li::after{
  content:'';
  display:block;
  border-radius: 2px ;
  background-color: rgb(255, 0, 43);
  height:2px;
  align-items: center;
  width:0%;
  transform: scaleX(-1);
  transition:  .4s;
 }
 li:hover::after{
  content:'            ';
  letter-spacing: 0px;
  display:block;
  border: 0px solid var(--primary);
  border-radius: 30px;
  background-color: var(--primary) ;
  height:3px;
  text-align: right;
  
  box-shadow: 0px 3px 10px var(--primary);
  width:100%;
  transform: scaleX(-1);
  
 }
 
 .burger{
  display: none;
 }

 .theme-box{
  padding-right: 20px;
align-items: center;

 }
 .theme{
  margin:5px;
  text-align: center;
  border-radius: 50px;
  border:0px solid red;
  font-size: .5em;
  background-color: rgba(140,0, 255, 0.996);
  font-weight: bold;
  padding: 1px 0px 2px 0px;
  color:white;
  font-family: var(--font);
  
 }
.theme:hover{
  background-image: linear-gradient(65deg, #ff0000, #ff8400, #23a6d5, #8400ff);
  background-size: 200%;
  animation: new 3s linear alternate-reverse infinite;
}

@keyframes new {

  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}


.theme option{
  background-color: rgba(255, 255, 255, 0);

}
 


.theme option:nth-child(1){
  background-color: rgba(140,0, 255, 0.996);
 }
 .theme option:nth-child(2){
  background-color: rgb(55, 206, 113);
 }
 
  .theme option:nth-child(3){
    background-color: rgb(0, 221, 255);
  }
    .theme option:nth-child(4){
      background-color: rgb(255, 0, 0);
      border-radius: 20px;
    }
    .theme option:nth-child(5){
      background-color: rgb(255, 98, 0);
      
    }
 /*small screens*/
 @media (max-width:650px){
  @keyframes shadow {
    50%{
  
    box-shadow: 0px 5px 600px -10px var(--primary);
    }
  }

 .nbar{
  display:flex;
  position: absolute;
  flex-direction: column;
  top:70px;
  height:90vh;
  overflow: hidden;
  left:-5rem;
  width: 0px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color:var(--secondary);
  justify-content: space-around;
  align-items:center;
  border-radius: 0px;
  transition: all .4s ease;
 }

.nbar a{
  display:block;
  text-align: center;

  padding-left: 75px;
  width:40vw;
  transition:all .5s ease;
}
li:hover:after{

  padding: 0px 36px;
}
 
 .burger{
  display:block;
  border: 0px solid rgb(158, 158, 158);
  border-radius: 5px;
  color:rgb(255, 255, 255);
  padding:10px 13px;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
 }
 .burger:hover{
  outline: 0px;
  color:var(--primary);
  border: 0px solid var(--primary);
  transition: .4s;
 }
.burger:active{
  color:rgb(255, 0, 43);
  border: 1px solid red;
  transition:ease .4s;
}
 
 .nbar-active{
  width:120%;


 }
 }



 /*maincontent */

.content{
  color:white;
  background-color:var(--secondary);
  height: 100vh;
  padding:15px;
  padding-top:80px;
  font-family:var(--font);
  transition: all .5s ease;
}

.hello{
  margin-top: 2em;
  font-size: 2.5em;
}

.name{
  font-weight: bold;
  font-size: 2em;
  margin: 10px 0px;
}

.name span{
font-size:2.3em;
background: linear-gradient(50deg,white,var(--primary),white);
background-size: 200%;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
animation: name 2s linear infinite;
}

@keyframes name{
 0%{
  background-position: 0%;

 }
100%{
  background-position: 200%;
}


}

.fend{
  
  font-size: 1.1em;
  margin-bottom: 20px;
}

.top-sec{
  display: flex;
  
}

  .img-div{
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  justify-content: space-evenly;
  max-width: 400px;
  margin:auto;
    
  }
  .main-img{
    min-width: 50%;
    width: 50%;
    background-color:var(--primary);
    
    border-radius:100%;
    margin-left: auto;
    margin-right: auto;
    flex:1;
  }
.TScontent{
  flex:2;
  width:100%;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  max-width:600px;
}

hr{
  margin:5px;
  outline:none;
  border:1px solid var(--primary);
  box-shadow: 0px 0px 10px 2px var(--primary);
  width: auto;
  color:red;

}

.descript{
 margin: 20px 10px;
 word-spacing: 5px;

}
/*content media query*/
@media (max-width:750px){
  .top-sec{
    flex-direction: column-reverse;
  
  }
  .main-img{
   margin:0px;
  }
  .TScontent{
    margin-top: 0px;
  }
  .hello{
    margin-top: 10px;
  }
  
}

@media (max-width:900px){
  .main-img{
   margin-top:10px;
  }
}


.skills{
  box-sizing: content-box;
  margin: 30px 0px;
  height:60px;
  font-size: .98rem ;
  display:flex;
  justify-content: space-around;
  align-items: center;


}
.skills i{
 
font-size: 1.5rem;
color: black;
border-radius: 300px;
background-color: var(--primary);
display: flex;
border:0.8px solid black;
align-items: center;
justify-content: center;
height:5vh;
padding:1rem;
width:5vh;


}

.skills i:hover{
  font-size: 2rem;
  box-shadow: 0px 0px 10px 2px var(--primary);
  transition: .4s;
  color:var(--primary);
  background-color: black;
  
}
.skills i:hover .skills p{
  display: block;
}

.overlay{
  position: absolute;
  
  background-color: rgba(255, 255, 255, 0.182);
  border-radius: 10px;
  font-size: 1.5em;
  backdrop-filter: blur(15px);
}
